if user
	a.user-goods.grid-col_3(href="/order/steps/1")
		include ../../public/images/icons/shop.svg
		span.user-goods__text Товаров #{ shoppingCount ? shoppingCount : 0} (#{ shoppingTotal ? shoppingTotal : 0} руб.)